/* main color palette */
:root {
    --text-primary: white;
    --text-secondary: #C7D4D6;
    --background-primary: #505639;
    --background-secondary: #2c473a;
    --error: #7a6a44;
    --light-accent: #7d5f4e;
    --dark-accent: #414d43;

    font-family: monaco, monospace;
}

.other-content {
    color: var(--text-primary);
    background-color: var(--background-primary  );
}

.home-content {
    color: var(--text-primary);
    background-color: var(--background-primary);
}

.errorMessage {
    background-color: var(--error);
    font-weight: bold;
    width: 300px;
}
.errorMessage:hover {
    padding: 0.25rem;
    border-style: outset;
}

hr.navbar {
    border-color: var(--background-secondary);
    background-color: var(--background-secondary);
    border-style: solid;
    color: var(--background-secondary);
    height: 1px;
}

a.navbar {
    text-decoration: none;
    color: var(--text-primary)
}

a.navbar:hover {
    text-decoration: underline;
    text-size-adjust: 5%;
    text-decoration-color: var(--text-secondary)
}

.link:hover {
    text-decoration: underline;
    text-size-adjust: 5%;
    text-decoration-color: var(--text-secondary)
}

button {
    padding: 0.5rem;
    margin-top: 1em;
    border-style: none;
    border-radius: 0.25rem;
    color: var(--text-primary);
    background-color: var(--background-secondary);
}

button:hover {
    transform: scale(1.1);
    border-style: outset;
    border-radius: 0.35rem;
}

.input {
    padding: 0.25rem;
    width: 300px;
}